@import 'styles/_colors.scss';


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS';

  text-decoration: none;

  background-color: $background-color;
  color: white;

  font-weight: 400;
  line-height: 1.5;

  min-height: 100%;
}

#root {
  min-height: 100%;
}