@import '../../styles/colors';

nav {
    display: flex;
    align-items: stretch;
    background-color: red;

    box-shadow: 0 4px 2px -2px #121212;

    & .navbar-toggler {
        display: none;
    }

    & .navbar-brand {
        img {
            max-width: 75px;
        }
    }

    & .navbar-collapse {
        display: flex;
        flex: 1;
        align-items: stretch;
        padding-right: 25px;

        font-size: 16px;

        ul {
            display: flex;
            flex: 1;
            align-items: center;
        
            .push-right {
                margin-left: auto;
            }
        }
    }

}
